<%- include('../partials/_header.ejs') %>

  <body>

    <%- include('../partials/_navbar.ejs') %>


      <!-- Page Header -->
      <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1><%- posts[0].title  %> </h1>
                <h2 class="subheading">LİNKLE2 </h2>
                <span class="meta">Posted by
                  <a href="#">Emre Mert</a>
                  <%- posts[0].dateCreated  %> </span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p><%- posts[0].detail  %> </p>

             
              
              </p>
            </div>
          </div>
        </div>
      </article>

      <hr>

      <% include('../partials/_footer.ejs') %> 

  </body>

  </html>